@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Effra-Arbc";
  src: local("Effra-Arbc"), url("./fonts/Effra-Arbc.ttf") format("truetype");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Effra-Arbc";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
